body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #555;
}

#header {
  max-width: 1170px;
  width: 100%;
  height: 300px;
  font-weight: 300;
  color: white;
  margin: 0 auto;
  margin-bottom: 75px;
}

hr {
  border-top: 1px solid #CCC;
  padding: 0px;
}

.bg {
  background-image: url('../resources/fuji.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#header-inner {
  padding-top: 100px;
  padding-left: 10px;
}
.img-me {
  border: 8px solid white;
  float: left;
  width: 200px;
}
.header-text {
  margin-top: 80px;
  margin-left: 50px;
}
.header-text-name {
  font-weight: bold;
  font-size: 40px;
  color: black;
}
.header-text-motto {
  font-size: 20px;
  font-style: italic;
  color: black;
}
.every-day-note {
  font-size: 20px;
  color: black;
}
.header-text-desc {
  font-size: 20px;
}
#contact-info {
  position: absolute;
  left: 80%;
  width: 20%;
  top: 360px;
  height: 100px;
  background-color: #EEE;
}
.vspace {
  margin-bottom: 20px;
}
.vspace-top {
  margin-top: 30px;
}
.vspace-top-small {
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.logo-image {
  height: 180px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.logo-stanford {
  height: 180px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-left:65px;
}

.logo-engineer{
  margin-left:120px;
  height: 75px;
  margin-bottom: 10px;
}


.logo-div {
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
}

.venue {
/*  font-style: italic;
*/}

.image {
  width: 100%;
  padding-bottom: 20px;
}

.project-image {
  width: 150px;
  height: 150px;
}

.section-light {
  background-color: #EEE;
}

.container {
  margin-bottom: 50px;
}

.about {
  margin-bottom: 10px;
}